
@font-face{
    /*thx https://creeperlv.github.io/*/
    font-family:"Sarasa Mono SC";
    src: url("https://magic.satdg.xyz//fonts//sarasa-mono-sc-regular.ttf")
}
div>img{
    display: block;
    border: 3px solid #f0e68c;
    box-shadow: 20px 10px 3px aqua;
}
body{
    background-color: #f0e68c;
    font-family: "Sarasa Mono SC", serif;
}
div{
    display: block;
}